<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - 業務引き継ぎアプリ</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">引き継ぎアプリ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" href="{% url 'home' %}">ホーム</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{% url 'about' %}">サイトについて</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{% url 'contact' %}">連絡先</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{% url 'app:incident_list' %}">故障</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{% url 'app:inquiry_list' %}">問い合わせ</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{% url 'app:request_list' %}">依頼作業</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{% url 'app:mainte_list' %}">非監視依頼</a></li>

                </ul>
                {% include 'app/loginpartial.html' %}
            </div>
        </div>
    </nav>  

    <div class="container-fluid">
{% block content %}{% endblock %}
        <hr/>
        <footer>
            <p>&copy; {{ year }} - katayama shift app</p>
        </footer>
    </div>

    <script src="{% static 'app/scripts/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
