{% if user.is_authenticated %}
<form id="logoutForm" action="/logout/" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><a href="/admin">AdminSite</a></li>
        <li class="nav-item"><a class="nav-link active" href="{% url 'app:system_list' %}">システム情報</a></li>
        <li class="nav-item"><a class="nav-link active" href="{% url 'app:category_list' %}">カテゴリ情報</a></li>
        <li class="nav-item"><a class="nav-link active" href="{% url 'app:status_list' %}">ステータス情報</a></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'login' %}">Log in</a></li>
</ul>

{% endif %}
